.place-list {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  width: 90%;
  max-width: 40rem;
}

.place-list__warning {
  display: flex;
  flex-direction: column;
  color: #ff7b00;
}

.place-list__warning svg {
  width: 10rem;
  height: 10rem;
}
